<h5>Create Recipe</h5>
<form class="form-group" action="/recipes/" method="post">
  <input type="text" name="name">
  <button class="waves-effect waves-light btn" type="submit">Create Recipe</button>
</form>
